{%- minify -%}
{% switch block.background %}
  {% case "black" %}
    {% set fontClasses = "text-white" %}
  {% case "white" %}
    {% set fontClasses = "text-black" %}
{% endswitch %}

{% switch block.position %}
  {% case "left" %}
    {% set positionClasses = "justify-start text-center md:text-left" %}
  {% case "center" %}
    {% set positionClasses = "justify-center text-center md:text-left lg:text-center" %}
  {% case "right" %}
    {% set positionClasses = "justify-end text-center md:text-left lg:text-right" %}
{% endswitch %}

<div class="bg-{{ block.background }} w-full">

  <div class="a-typography container md:flex {{ positionClasses }} mx-auto py-{{ block.spacing }} px-8 lg:px-0 py-{{ block.offset }}">

    <blockquote class="{{ fontClasses }} text-3xl lg:text-{{ block.fontSize }} font-secondary max-w-lg">

      {{ block.quote|typogrify|smartypants }}

      <footer>
        <span class="font-primary italic text-sm text-grey-light">
          {{ block.author }}
        </span>
      </footer>

    </blockquote>

  </div>

</div>
{%- endminify -%}